/***********Common***************/
.foot_warp {
  background-color: #2f3539;
  padding: 34px 0px; }
  .foot_warp p {
    color: #cecece; }

.header-top-warp {
  width: 100%;
  background-color: #f4f4f4; }
  .header-top-warp ul {
    display: inline-block;
    padding: 0px;
    margin-bottom: 0px; }

.header-top-warp_left_tit {
  float: left; }
  .header-top-warp_left_tit li {
    cursor: pointer;
    padding: 0px; }

.header-top-warp_item_dis_tit {
  color: #8c8c8c;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  position: relative;
  z-index: 2;
  transition: all 0.2s;
  padding: 0px 10px; }
  .header-top-warp_item_dis_tit span {
    height: 37px;
    line-height: 37px; }

.header-top-warp_item_dis_tit_active {
  border-left: 1px solid #e0e0e0;
  border-right: 1px solid #e0e0e0;
  background-color: white; }

.header-top-warp_item_dis_con {
  max-width: 14%;
  padding: 15px;
  border: 1px solid #e0e0e0;
  background-color: white;
  position: absolute;
  top: 38px;
  z-index: 1; }
  .header-top-warp_item_dis_con img {
    width: 150px; }
  .header-top-warp_item_dis_con ul {
    margin: 0px; }
    .header-top-warp_item_dis_con ul li {
      width: 30%;
      margin: 6px 4px 0px 0px; }
      .header-top-warp_item_dis_con ul li span {
        color: #444; }
        .header-top-warp_item_dis_con ul li span:hover {
          color: #337ab7; }

.city_title {
  border-bottom: 1px dashed #b9b9b9; }
  .city_title span {
    display: inline-block;
    color: #337ab7; }

.header-top-warp_right_tit > li > a {
  text-decoration: none;
  height: 37px;
  line-height: 37px;
  color: #8c8c8c; }

.header-nav-top ul {
  margin-top: 10px; }

.header_nav_top_ul li {
  padding: 0px;
  height: 100%;
  vertical-align: middle; }
  .header_nav_top_ul li a {
    color: #444;
    text-decoration: none;
    padding-right: 14px;
    font-size: 15px;
    font-weight: 700;
    height: 70px;
    line-height: 70px;
    display: inline-block; }
    .header_nav_top_ul li a span {
      padding: 6px 0px; }
.header_nav_top_ul img {
  height: 70px; }

.index_span_btn_css {
  color: #337ab7 !important; }

.header_nav_top_active {
  border-bottom: 2px solid #337ab7; }

.container {
  width: 1170px !important; }

.warp {
  min-width: 1170px !important; }

.button-disabled {
  opacity: 0.65;
  cursor: not-allowed; }

/***********Search***************/
/**********search_table_0**********/
.pt_search_index_logo {
  padding: 10px 30%; }

.index_logo img {
  width: 150px;
  height: 150px; }

.index_pt_name span {
  font-size: 30px;
  height: 150px;
  line-height: 150px; }

.pt_search_all {
  margin: 40px auto 10px; }
  .pt_search_all input {
    border-radius: 0px;
    height: 50px;
    border: 1px solid #337ab7; }
  .pt_search_all button {
    background-color: #337ab7;
    color: white;
    border: 0px;
    border-radius: 0px;
    font-size: 25px;
    transition: all 0.2s;
    height: 50px; }
    .pt_search_all button:hover {
      color: white;
      background-color: #2aabd2; }
    .pt_search_all button:focus {
      color: white; }

.pt_search_content_ctr {
  width: 100%;
  float: left;
  padding: 30px 50px; }

/**********search_table_1**********/
.excellent_companys_nav {
  padding: 0px; }
  .excellent_companys_nav ul > li {
    padding: 4px 14px; }
    .excellent_companys_nav ul > li a {
      display: inline-block;
      text-decoration: none;
      color: #444;
      font-size: 20px; }

.excellent_companys_nav_li_active {
  background-color: #337ab7; }
  .excellent_companys_nav_li_active a {
    color: white !important; }

.pt_search_company input {
  border-radius: 0px;
  height: 34px;
  border: 1px solid #337ab7; }
.pt_search_company button {
  background-color: #337ab7;
  color: white;
  border: 0px;
  height: 34px;
  border-radius: 0px;
  transition: all 0.2s; }
  .pt_search_company button:hover {
    color: white;
    background-color: #337ab7; }
  .pt_search_company button:focus {
    color: white; }

.excellent_companys_content {
  margin-top: 30px; }

.excellent_companys_content_item {
  display: none; }
  .excellent_companys_content_item > li {
    width: 32%;
    border: 1px solid #eee;
    padding: 15px;
    margin: 5px 4px;
    transition: all 0.2s; }
    .excellent_companys_content_item > li:hover {
      border: 1px solid #337ab7; }
  .excellent_companys_content_item > a {
    text-decoration: none; }

.excellent_companys_content_item_left {
  float: left;
  width: 70%; }
  .excellent_companys_content_item_left h4 {
    color: #444; }
  .excellent_companys_content_item_left p {
    color: #bebebe; }
  .excellent_companys_content_item_left span {
    border: 1px solid #e7e7e7;
    color: #6d6d6d; }

.excellent_companys_content_item_right {
  width: 30%; }
  .excellent_companys_content_item_right button {
    border-radius: 0px;
    color: white;
    background-color: #337ab7;
    transition: all 0.2s; }
    .excellent_companys_content_item_right button:hover {
      color: white;
      background-color: #2aabd2; }

/**********search_table_2**********/
.demand_nav {
  position: relative;
  left: -50px;
  width: 30%;
  top: -30px; }
  .demand_nav > ul > li {
    display: block;
    height: 161px;
    background-color: #f5f5f5;
    border-bottom: 1px solid white;
    transition: all 0.2s; }
    .demand_nav > ul > li a {
      font-size: 20px;
      width: 100%;
      display: block;
      color: #444;
      line-height: 161px;
      text-decoration: none; }

.demand_nav_li_active {
  background-color: white !important; }
  .demand_nav_li_active a {
    color: #337ab7 !important; }

.demand_content {
  width: 70%; }

.demand_content_item {
  display: none; }

.demand_content_item_active {
  display: block; }

.demand_title > ul {
  margin: 0px; }
  .demand_title > ul li {
    border: 1px solid #e6e6e6;
    padding: 0px; }
    .demand_title > ul li a {
      color: #444;
      text-decoration: none;
      padding: 0px 10px;
      display: inline-block; }
      .demand_title > ul li a:hover {
        color: #337ab7; }
      .demand_title > ul li a p {
        margin: 0px;
        line-height: 30px;
        font-size: 10px; }

.demand_title_li_active {
  border: 1px solid #337ab7 !important; }
  .demand_title_li_active a {
    color: #337ab7 !important; }

.demand_content_info {
  margin-top: 60px; }

.demand_content_info_textarea {
  max-height: 152px;
  border: 1px solid #e6e6e6;
  overflow: hidden; }
  .demand_content_info_textarea > textarea {
    border-radius: 0px;
    resize: none;
    border: 0px none;
    margin-top: 65px; }

.demand_input_submit {
  margin-top: 30px; }

.demand_input_submit_input > input {
  border-radius: 0px; }
.demand_input_submit_input span button {
  top: -6px;
  left: -100px;
  border-radius: 0px; }
.demand_input_submit_input > button {
  color: white;
  background-color: #337ab7;
  border-radius: 0px;
  position: relative;
  top: -13px;
  transition: all 0.2s; }
  .demand_input_submit_input > button:hover, .demand_input_submit_input > button:focus {
    background-color: #2aabd2;
    color: white; }

.demand_input_submit_input_phone {
  width: 40% !important; }

.demand_input_submit_input_verification_code {
  margin-left: 77px !important;
  width: 30% !important; }

.textarea_box {
  position: absolute;
  top: 490px;
  padding: 0px 10px; }

.textarea_box_tit_item span {
  color: #444; }
.textarea_box_tit_item input {
  border-bottom: 1px solid #e0e0e0;
  border-right: 0px;
  border-left: 0px;
  border-top: 0px; }
  .textarea_box_tit_item input:focus {
    outline: none;
    border-bottom: 1px solid #337ab7; }

.textarea_box_tit_item > .textarea_box_tit_item_redio {
  cursor: default; }

.pt_search_warp {
  height: 719px;
  overflow: hidden; }

.pt_search {
  padding: 0px;
  box-shadow: 0 3px 40px 0 rgba(0, 0, 0, 0.5);
  margin-top: 80px;
  height: 555px;
  background-color: #ffffff; }
  .pt_search > ul {
    margin-left: 0px; }

.pt_search_title_ctr {
  background-color: #e8e8e8;
  border-right: 1px solid #ffffff;
  transition: all 0.2s;
  height: 72px;
  cursor: pointer; }
  .pt_search_title_ctr > p {
    height: 72px;
    line-height: 72px;
    color: #444;
    font-size: 30px;
    margin: 0px;
    padding: 0px; }
  .pt_search_title_ctr > span {
    position: relative;
    color: #747474;
    font-size: 14px;
    left: 126px;
    top: -34px; }

.pt_search_title_ctr_active {
  background-color: #ffffff;
  margin-top: -10px; }

.pt_search_item_chunk {
  display: none; }
  .pt_search_item_chunk .row > ul > li > a {
    text-decoration: none;
    color: #9d9d9d; }

/**********pt_services_show**********/
.pt_services_show_left {
  padding: 0px;
  min-height: 1000px; }

.pt_services_show_right {
  padding: 0px 0px 0px 10px;
  min-height: 1000px; }

/***********show_nav*********/
.pt_services_show_nav {
  display: inline-block;
  border: 1px solid #e0e0e0; }

.services_classifys {
  background-color: #f7f7f7;
  width: 100%;
  border-bottom: 1px dashed #b9b9b9; }
  .services_classifys:last-child {
    border-bottom: 0; }

.services_classifys_tit {
  min-height: 38px;
  width: 20%;
  padding: 0px; }
  .services_classifys_tit span {
    color: #8c8c8c;
    height: 38px;
    line-height: 38px; }

.services_classifys_tag {
  min-height: 38px;
  width: 80%; }
  .services_classifys_tag .services_classifys_tags_more {
    background: white; }
  .services_classifys_tag ul {
    background-color: white;
    padding: 0px;
    margin: 0px; }
    .services_classifys_tag ul li {
      border: 1px solid transparent;
      padding: 0px;
      cursor: pointer;
      height: 38px; }
      .services_classifys_tag ul li:hover a {
        color: #337ab7; }
      .services_classifys_tag ul li a {
        margin-left: 15px;
        margin-right: 15px;
        color: #444;
        height: 38px;
        line-height: 38px; }

.services_classifys_tags_active a {
  color: #337ab7 !important; }

.more_tag_button {
  margin-right: 10px; }
  .more_tag_button span {
    color: #8c8c8c;
    padding: 0px 5px;
    border: 1px solid #b9b9b9;
    height: 35px;
    line-height: 35px; }
    .more_tag_button span:hover {
      color: #337ab7; }

.services_classifys_tags_more {
  display: none; }

/**********show_item*********/
.pt_services_show_item {
  margin-top: 40px; }

.services_sort_list {
  background-color: #f7f7f7; }
  .services_sort_list ul {
    padding: 0px;
    margin: 0px; }
    .services_sort_list ul li {
      padding: 10px 0px;
      cursor: pointer; }
      .services_sort_list ul li a {
        padding: 0px 15px;
        font-size: 14px;
        text-decoration: none;
        color: #444;
        border-right: 1px solid #e0e0e0; }
      .services_sort_list ul li:hover a {
        color: #337ab7; }
    .services_sort_list ul > .pt_active a {
      color: #337ab7; }

.show_item {
  margin-top: 10px;
  border: 1px solid #e0e0e0; }
  .show_item > ul {
    margin: 0px; }
    .show_item > ul > li {
      transition: all 0.2s;
      border-bottom: 1px solid #e0e0e0; }
      .show_item > ul > li:last-child {
        border-bottom: 0px; }
      .show_item > ul > li:hover {
        background-color: #f7f7f7; }

.show_item_box {
  padding: 10px; }

.show_item_box_left {
  border-right: 1px solid #e0e0e0;
  width: 70%; }

.show_item_tit h4 a {
  text-decoration: none;
  color: #444; }
  .show_item_tit h4 a:hover {
    color: #337ab7; }

.show_item_img img {
  width: 100px; }

.show_item_tag span {
  cursor: default;
  padding: 2px 7px;
  color: white; }

.show_item_box_right {
  width: 30%; }

.show_item_button {
  margin-top: 30px; }
  .show_item_button a button {
    padding: 10px;
    background-color: #337ab7;
    color: white;
    border: 0px;
    transition: all 0.2s; }
    .show_item_button a button:hover {
      background-color: #2aabd2; }

.show_item_des span {
  color: #8c8c8c; }

.user_classify_company_tag {
  background-color: #337ab7; }

.user_classify_person_tag {
  background-color: #e69f00; }

/**********show_sidebar*****/
.pt_show_sidebar {
  margin-bottom: 10px;
  border: 1px solid #e0e0e0;
  height: 300px; }

/**********pt_services_info**********/
.pt_services_info {
  background-color: #f7f7f7; }

.pt_services_info_show {
  box-shadow: 0px 0px 10px #e0e0e0;
  margin-top: 40px;
  background-color: white;
  width: 100%;
  border: 1px solid #e0e0e0;
  display: inline-block;
  padding: 40px 40px; }

.pt_services_info_show_icon img {
  border: 5px solid #e0e0e0;
  height: 200px; }

.pt_services_info_show_des {
  margin-left: 40px; }

.pt_services_info_show_left {
  border-right: 1px dashed #e0e0e0;
  display: inline-block;
  width: 70%; }

.pt_services_info_show_left_tit {
  width: 100%;
  display: inline-block; }

.pt_price span {
  color: #f78009; }
  .pt_price span i {
    font-size: 30px;
    font-style: normal; }

.pt_services_info_phone span {
  font-size: 20px; }

.pt_services_info_address span {
  font-size: 20px; }

.pt_services_info_call_ways {
  margin-top: 40px; }

.pt_services_info_text p {
  padding-right: 40px; }

.pt_services_info_show_right {
  width: 30%; }

.pt_services_info_show_right_buy_button button {
  color: white;
  background-color: #337ab7;
  border: 0px;
  padding: 15px 80px;
  font-size: 16px;
  transition: all 0.2s; }
  .pt_services_info_show_right_buy_button button:hover {
    background-color: #2aabd2; }

.pt_services_info_comment {
  width: 79%;
  padding: 10px 40px;
  background-color: white;
  margin-top: 40px; }

.pt_services_info_comment_classify_tag {
  padding: 10px 0px;
  border-bottom: 1px solid #e0e0e0; }
  .pt_services_info_comment_classify_tag ul {
    padding: 0px;
    margin: 0px; }
    .pt_services_info_comment_classify_tag ul .pt_active span {
      color: #337ab7;
      border-bottom: 2px solid #337ab7; }
    .pt_services_info_comment_classify_tag ul li {
      padding: 0px;
      cursor: pointer; }
      .pt_services_info_comment_classify_tag ul li span {
        color: #444;
        padding: 12px; }
        .pt_services_info_comment_classify_tag ul li span:hover {
          color: #337ab7; }

.pt_services_info_comment_box {
  margin-top: 20px; }

.pt_services_info_r {
  width: 20%;
  margin-top: 40px; }

.pt_services_info_company_info {
  padding: 10px;
  background-color: white; }

.pt_services_info_company_info_des {
  padding: 10px 0px;
  border-bottom: 1px solid #e0e0e0; }
  .pt_services_info_company_info_des p {
    color: #444;
    font-weight: bold; }

.pt_services_info_company_title {
  margin-top: 20px;
  width: 100%;
  display: inline-block; }
  .pt_services_info_company_title img {
    float: left;
    width: 50px; }
  .pt_services_info_company_title span {
    float: left; }

.pt_services_info_company_intro {
  margin-top: 20px; }
  .pt_services_info_company_intro span {
    font-weight: bold; }

.pt_services_info_r_adv {
  padding: 10px;
  margin-top: 10px;
  background-color: white;
  width: 100%;
  height: 200px;
  border: 1px solid #e0e0e0; }

/*# sourceMappingURL=pt_style.css.map */
