$white_background_color:#ffffff;
$gray_background_color: #f7f7f7;

$header-top-warp-background-color:#f4f4f4;


$main_blue_color:#337ab7;

$header-top-warp_font_color:#8c8c8c;

$main_border_color:#e0e0e0;

$main_black_font_color:#444;

$dashed_color:#b9b9b9;

$price_color: #f78009;