@import "../common/pt_common";

@import "partials/manage_demand_role_sidebar";

@import "pages/index/index";


.manage_demand_warp{
  width: 100%;
  background-color: $gray_background_color;
}

.manage_demand_warp_box{
  margin-top: 20px;
}
