.pt_search_index_warp{
  width: 100%;
}

.pt_search_index_logo_box{
  display: inline-block;
}

.index_logo{
  img{
    width: 150px;
    height: 150px;
  }
}

.index_pt_name{
  span{
    font-size: 30px;
    height:150px;
    line-height: 150px;
  }
}


.pt_search_all{
  padding:40px 40px 10px;
  input{
    border-radius: 0px;
    height: 50px;
    border: 1px solid $main_blue_color;
  }
  button{
    background-color: $main_blue_color;
    color: white;
    border: 0px;
    border-radius: 0px;
    font-size: 25px;
    transition:all 0.2s;
    height: 50px;
    &:hover{
      color: white;
      background-color: #2aabd2;
    }
    &:focus{
      color: white;
    }
  }
}

.pt_search_content_ctr{
  width: 100%;
  float: left;
  padding:30px 50px;
}

.pt_search_all_hint{
  padding:0px 40px;
  a{
    text-decoration: none;
    color: #6d6d6d;
  }
}